{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="row">
        <div class="col-lg-10">
            <div class="content-column-content">
                {{ with .Resources.ByType "image" }}
                <div class="image-gallery" id="image-gallery">
                    {{ range . }}
                    <img src="{{ .RelPermalink }}" alt="{{ .Name }}" class="gallery-image" style="max-width: 100%; height: auto;" />
                    {{ end }}
                </div>
                {{ end }}
                <!-- Modal for enlarged image -->
                <div id="image-modal" class="modal" style="display: none;">
                    <span class="modal-close">X</span>
                    <img id="modal-image" class="modal-image-content" alt="Enlarged image">
                </div>
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</div>

<!-- Include external JavaScript -->
<script src="{{ "js/gallery.js" | absURL }}"></script>
{{ end }}